---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const gallery: { default: ImageMetadata }[] = await Astro.glob(
  "../assets/activities/*.jpg",
);
---

<BaseLayout
  title="Activities"
  desc="The activities you can engane in at the 26th Arctic Orthopedic Summit"
>
  <main class="mx-8 md:mx-16 mb-8">
    <div>
      <div>
        <h1 class="text-3xl mb-8">Activities</h1>
        <div class="prose">
          <p>
            A diverse range of activities is available for you to enjoy
            alongside the conference:
            <ul>
              <li>
                <a href="https://www.levi.fi/en/" target="_blank"
                  >Alpine Skiing</a
                >
              </li>
              <li>Cross country Skiing</li>
              <li>
                <a href="https://www.laplandsafaris.com/en" target="_blank"
                  >Snowmobiling</a
                >
              </li>
              <li>
                <a href="https://levihuskypark.fi/en/" target="_blank">Husky</a>
              </li>
              <li>
                <a href="https://sammuntupa.fi/en_US" target="_blank"
                  >Reindeer Tours</a
                >
              </li>
              <li>
                <a href="https://www.levi.fi/en/" target="_blank">Restaurants</a
                >
              </li>
              <li>
                <a
                  href="https://www.levi.fi/en/activities/wellbeing/sauna/"
                  target="_blank">Sauna</a
                >
              </li>
              <li>
                <a href="https://levi.northernlightsvillage.com/"
                  >Northern Lights</a
                >
              </li>
            </ul>
          </p>
        </div>
      </div>
      <div>
        <h1 class="text-3xl mb-4 mt-8">Image gallery</h1>
        <p>Some impressions from past events</p>
        <div class="md:columns-3 mt-8 space-y-4">
          {
            gallery.map((img) => {
              return <Image loading={"lazy"} src={img.default} alt="" />;
            })
          }
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
