---
import BaseLayout from "../layouts/BaseLayout.astro";
import SkiPhoto from "../assets/skiing.png";
import SOYskiLogo from "../assets/IMG_4135.jpg";
import aurora from "../assets/aurora.png";
import { Image } from "astro:assets";
---

<BaseLayout
  title="Activities"
  desc="24th Arctic Orthopedic Summit - Activities"
>
  <main class="mx-8 md:mx-16 mb-8">
    <div class="grid xl:grid-cols-2 gap-16">
      <div>
        <h1 class="text-3xl mb-8">Activities</h1>
        <div class="prose">
          <p>
            A diverse range of activities is available for you to enjoy
            alongside the conference:
            <ul>
              <li>Skiing</li>
              <li>Alpine Skiing</li>
              <li>Snowmobiling</li>
              <li>Husky</li>
              <li>Restaurants</li>
              <li>Sauna</li>
              <li>Nordic Lights</li>
            </ul>
          </p>
        </div>
      </div>
      <div>
        <Image class="m-auto" src={SkiPhoto} alt="stock image 2" />
        <Image class="m-auto" src={SOYskiLogo} alt="SOY ski club logo" />
        <Image class="m-auto" src={aurora} alt="nordic light" />
      </div>
    </div>
  </main>
</BaseLayout>
