---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="History" desc="A little bit of history about the Event">
  <main class="mx-8 md:mx-16 mb-8 prose">
    <h1>To be completed</h1>
  </main>
</BaseLayout>
