---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="History" desc="A little bit of history about the Event">
  <main class="mx-8 md:mx-auto mb-8 prose">
    <h1>History</h1>
    <p>
      The Finnish Orthopedic Association was founded on March 17, 1951. Over the
      years, the association has evolved into the largest specialty association
      in the field of surgery in Finland.
    </p>
    <p>
      The Association's active course program began in 1970 when a first two-day
      SOY advanced training event was organized. The event focused on lumbar
      pain syndromes and was held at the School of Economics in Helsinki. This
      inaugural course was so popular that in 1972 the association appointed its
      first course committee, whose objective was to create a new course format
      modeled after the AO courses in Switzerland and similar courses held in
      Sweden. To aid in development of the new course, the commitee visited a
      meeting held in Östersund and Åre, Sweden, in the spring of 1973
      (Vidareutbildningskurs för blivande kirurger).
    </p>
    <p>
      The first Lapinkurssi ( i.e. Arctic Orhopedic Summit) was held nex year
      1974 in Rovaniemi, Lapland. In the early days the course was strongly a
      hands-on-course with some bone samples to practise fracture fixation with
      - as a continuum to classical AO courses- and in the early years even
      arthroscopic surgery training with cadaver samples was in the program.
    </p>
    <p>
      During the last 30 years the course format has become more lecture and
      evidence based medicine oriented, but still the tradition to arrange small
      group discussions - so-called fire-place-discussions - has remained. These
      days the number of partisipants has grown so that small groups have grown
      out of the original fireplace surroundings - but the relaxed athmosphere
      has prevailed, where everyone can comment on the matter at hand.
    </p>
    <p>
      Many other traditions have also been created during these courses - as it
      has always been a place where old and new friends meet time after time.
      Hightlights of the social gatherings over the years have probably been the
      skiing competitions - arranged for the whole family - and also the Gala
      dinner with a more or less formal athmosphere.
    </p>
    <p>
      The course has retained its popularity throughout the years with some 150-
      180 partisipants attending during the last years, even though a plethora
      of domestic and international new events have become available. And the
      course has only once been canceled as the recent pandemic postponed a
      course in 2022, which was then held in 2023 - breaking the order of even
      years for the event.
    </p>
    <p>
      Let's make together the 51st anniversary of the Arctic Srthopedic Summit
      an unforgetable one!
    </p>
  </main>
</BaseLayout>
