---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import Review from "../components/Review.astro";
import Banner from "../assets/banner.jpg";
---

<BaseLayout title="Home" desc="Homepage of the 26th Arctic Orthopedic Summit">
  <section class="grid md:grid-cols-2 p-8 pt-0 md:pt-8 pb-16">
    <Image src={Banner} alt="banner of aos" loading="eager" />
    <div class="md:mx-16 md:my-auto mt-16">
      <h1 class="text-3xl mb-4">26th Arctic Orthopedic Summit 2025</h1>
      <p>
        The <a
          class="underline"
          href="https://www.soy.fi/koulutus/"
          target="_blank">Finnish Orthopedic Association</a
        > invites you to the 26th Arctic Orthopedic Summit, a biannual event dedicated
        to advancing orthopedic knowledge and practice. Held in Finnish Lapland,
        the summit gathers experts, researchers, and practitioners worldwide to share
        insights, innovations, and experiences in orthopedics. You can <a
          href="/registration"
          class="underline">register</a
        > now.
      </p>
    </div>
  </section>
  <section class="grid gap-6 md:grid-cols-2 mx-8">
    <Review
      author="Jani Puhakka, Orhtopedic surgeon (Zurich)"
      body="Great event and venue! Looking forward to meet my collegues and update my knowledge in 2025."
    />
    <Review
      author="Leo Kronberger, Orthopedic surgeon (Graz)"
      body="Great orthopedic congress with international faculty and stunning location."
    />
  </section>
</BaseLayout>
