---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Registration"
  desc="24th Arctic Orthopedic Summit - Registration"
>
  <main class="mx-8 md:mx-auto mb-8 prose">
    <h1>Registration</h1>

    Early registration before 15.2.2025 will bring a significant discount on the
    registration fee. The registration will start in november 2025 <br />

    <h2>Prices:</h2>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Doctors</th>
          <th>Residents</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Early registration</td>
          <td>580€</td>
          <td>300€</td>
        </tr>
        <tr>
          <td>Late registration (after 15.2.2025)</td>
          <td>870€</td>
          <td>450€</td>
        </tr>
      </tbody>
    </table>
    <h2>Contact:</h2>
    <p>
      If you have any questions about the congress or registration, please
      contact: us via email: <a href="mailto:AOS2025@SOY.FI">AOS2025@SOY.FI</a>
    </p>
  </main>
</BaseLayout>
