---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Registration">
  <main class="mx-8 md:mx-16 mb-8 prose">
    <h1 class="text-3xl mb-4">Registration</h1>

    Early registration before 15.2.2025 will bring a significant discount on the
    registration fee. The registration will start in november 2025 <br />

    <h2>Prices:</h2>
    <ul>
      <li class="font-bold">Early registration:</li>
      <li>Doctors: 580€</li>
      <li>Residents: 300€</li>
      <li class="font-bold">Late registration (after 15.2.2025):</li>
      <li>Doctors: 870€</li>
      <li>Residents: 450€</li>
    </ul>
    <h2>Contact:</h2>
    <p>
      If you have any questions about the congress or registration, please
      contact: us via email: <a href="mailto:AOS2025@SOY.FI">AOS2025@SOY.FI</a>
    </p>
  </main>
</BaseLayout>
