---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Registration"
  desc="Registration page & Prices of the Arctic Orthopedic Summit"
>
  <main class="mx-8 md:mx-auto mb-8 prose">
    <h1>Registration</h1>
    <p>
      Early registration before 15.2.2025 will bring a significant discount on
      the registration fee. The registration will start in november 2025.
    </p>
    <a
      class="bg-sky-300 p-4"
      href="https://form.eventos.fi/6ef398314470a4ea"
      target="_blank">Registration link</a
    >

    <h2>Prices:</h2>
    <h3>Early registration</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Doctors</th>
          <th>Residents</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Full course</td>
          <td>580€</td>
          <td>300€</td>
        </tr>
        <tr>
          <td>Half course*</td>
          <td>440€</td>
          <td>220€</td>
        </tr>
      </tbody>
    </table>
    <h3>Late registration (after 15.2.2025)</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Doctors</th>
          <th>Residents</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Full course</td>
          <td>870€</td>
          <td>450€</td>
        </tr>
        <tr>
          <td>Half course*</td>
          <td>660€</td>
          <td>330€</td>
        </tr>
      </tbody>
    </table>
    <aside class="text-sm">
      *the half course is from Sun to Wed or Wed to Fri respectively
    </aside>
    <h3>Gala Dinner</h3>
    <p>
      The <strong>Gala Dinner</strong> is not included and will cost <strong
        >100€</strong
      >
    </p>
    <h3>Non-orthopedic</h3>
    <p>
      If you are not an orthopedic, the course is priced at <strong>960€</strong
      >
    </p>
    <h2>Contact:</h2>
    <p>
      If you have any questions about the congress or registration, please
      contact: us via email: <a href="mailto:aos2025@soy.fi">aos2025@soy.fi</a>
    </p>
  </main>
</BaseLayout>
