---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Scientific Program"
  desc="The Scientific Program of the Arctic Orthopedic Summit"
>
  <main class="mx-8 mb-8">
    <h1 class="text-3xl mb-8">Scientific Program</h1>
    <p class="mb-4">
      This is a broad overview of the program. <a
        href="https://5kk4f2niy7.ufs.sh/f/OrsmTjtkkTqcdWVz9O49GUxP530qWNkcZEsYK7yJHvDh1CFw"
        target="_blank"
        class="underline">Click here</a
      > for a more specific program.
    </p>

    <div class="max-md:overflow-auto">
      <p
        class="hidden max-md:portrait:block text-center font-bold mt-4 text-red-400"
      >
        Please rotate your phone to landscape mode to show the scientific
        program
      </p>
      <table
        class="table-auto text-sm text-left border-collapse max-md:portrait:hidden"
      >
        <thead>
          <tr class="bg-gray-200">
            <th class="px-4 py-2 border">Time</th>
            <th class="px-4 py-2 border">Sun, 16.3.2025</th>
            <th class="px-4 py-2 border">Mon, 17.3.2025</th>
            <th class="px-4 py-2 border">Tue, 18.3.2025</th>
            <th class="px-4 py-2 border">Wed, 19.3.2025</th>
            <th class="px-4 py-2 border">Thu, 20.3.2025</th>
            <th class="px-4 py-2 border">Fri, 21.3.2025</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="px-4 py-2 border">07:30-08:00</td>
            <td class="px-4 py-2 border"></td>
            <td class="px-4 py-2 border italic bg-blue-200">Registration</td>
            <td class="px-4 py-2 border italic bg-blue-200">Registration</td>
            <td class="px-4 py-2 border italic bg-blue-200">Registration</td>
            <td class="px-4 py-2 border italic bg-blue-200">Registration</td>
            <td class="px-4 py-2 border italic bg-blue-200">Registration</td>
          </tr>

          <tr>
            <td class="px-4 py-2 border">08:00-11:00</td>
            <td class="px-4 py-2 border"></td>
            <td class="px-4 py-2 border bg-red-200">
              <p class="font-bold">Traumatology 1</p>
              <p class="font-normal">Polytrauma patient - anything new?</p>
              <p class="font-semibold">Tim Söderlund</p>
            </td>
            <td class="px-4 py-2 border bg-red-200">
              <p class="font-bold">Traumatology 3</p>
              <p class="font-normal">
                Fix it or fuse it? Controversies in foot and ankle fractures.
              </p>
              <p class="font-semibold">Anssi Härkönen</p>
            </td>
            <td class="px-4 py-2 border bg-green-200">
              <p class="font-bold">Orthopedics 1</p>
              <p class="font-normal">What's new in hip replacement?</p>
              <p class="font-semibold">Rami Madanat</p>
            </td>
            <td class="px-4 py-2 border bg-green-200">
              <p class="font-bold">Orthopedics 2</p>
              <p class="font-normal">
                Decompression of degenerative lumbar spine: spondylodesis?
              </p>
              <p class="font-semibold">Jari Siironen</p>
            </td>
            <td class="px-4 py-2 border bg-green-200">
              <p class="font-bold">Orthopedics 3</p>
              <p class="font-normal">
                Optimized use of radiation in orthopedics
              </p>
              <p class="font-semibold">Liisa Viita-aho</p>
            </td>
          </tr>

          <tr>
            <td class="px-4 py-2 border">11:15-12:30</td>
            <td></td>
            <td class="px-4 py-2 border italic bg-yellow-200">Lunch</td>
            <td class="px-4 py-2 border italic bg-yellow-200">Lunch</td>
            <td class="px-4 py-2 border italic bg-yellow-200">Lunch</td>
            <td class="px-4 py-2 border italic bg-yellow-200">Lunch</td>
            <td class="px-4 py-2 border italic bg-yellow-200">Lunch</td>
          </tr>

          <tr>
            <td class="px-4 py-2 border">12:30-14:30</td>
            <td class="px-4 py-2 border"></td>
            <td class="px-4 py-2 border italic bg-gray-200"
              >Industrial Meetings</td
            >
            <td class="px-4 py-2 border italic bg-gray-200"
              >Industrial Meetings</td
            >
            <td class="px-4 py-2 border italic bg-gray-200"
              >Industrial Meetings</td
            >
            <td class="px-4 py-2 border italic bg-gray-200"
              >Industrial Meetings</td
            >
            <td class="px-4 py-2 border italic bg-gray-200 text-center"
              >End Discussion and Adjourn (11:15-11:45)</td
            >
          </tr>

          <tr>
            <td class="px-4 py-2 border">15:00-18:00</td>
            <td class="px-4 py-2 border italic bg-blue-200">Registration</td>
            <td class="px-4 py-2 border bg-red-200">
              <p class="font-bold">Traumatology 2</p>
              <p class="font-normal">
                Primary arthroplasty in shoulder, elbow and knee trauma
              </p>
              <p class="font-semibold">Mikko Salmela</p>
            </td>
            <td class="px-4 py-2 border bg-pink-200">
              <p class="font-bold">Discussion 1</p>
              <p class="font-normal">Feedback - from assessment to learning</p>
              <p class="font-semibold">Teija Lund, Juho Hatakka</p>
              <p class="font-bold mt-4">Discussion 2</p>
              <p class="font-normal">
                How to use the KIDS Fracture Tool in practice
              </p>
              <p class="font-semibold">Topi Laaksonen, Kaj Zilliacus</p>
            </td>
            <td></td>
            <td class="px-4 py-2 border bg-pink-200">
              <p class="font-bold">Discussion 3</p>
              <p class="font-normal">PF OA & PF Arthroplasty</p>
              <p class="font-semibold">Petri Silanpää</p>
              <p class="font-bold mt-4">Discussion 4</p>
              <p class="font-normal">Controversies in bone tumors</p>
              <p class="font-semibold">Minna Laitinen, Lee Jays</p>
            </td>
            <td></td>
          </tr>
          <tr>
            <td class="px-4 py-2 border">18:00-19:00</td>
            <td class="px-4 py-2 border italic bg-gray-200">Opening Ceremony</td
            >
            <td></td>
            <td class="px-4 py-2 border italic bg-gray-200">Get Together</td>
            <td class="px-4 py-2 border italic bg-gray-200">Course Dinner</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</BaseLayout>
