---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Scientific Program"
  desc="24th Arctic Orthopedic Summit - Scientific Program"
>
  <main class="mx-8 md:mx-auto mb-8 prose">
    <h1>Scientific Program</h1>

    <div class="overflow-x-auto">
      <table>
        <thead>
          <tr>
            <th>DATE</th>
            <th>TIME</th>
            <th>SESSION</th>
            <th>TOPIC</th>
            <th>CHAIRMAN</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="font-bold">16.3.2025</td>
            <td colspan="4" class="italic text-center">Registration</td>
          </tr>
          <tr>
            <td class="font-bold">17.3.2025</td>
            <td>08:00-11:00</td>
            <td>TRAUMA 1</td>
            <td>Polytrauma patient - anything new?</td>
            <td>Tim Söderlund</td>
          </tr>
          <tr>
            <td></td>
            <td>15:00-18:00</td>
            <td>TRAUMA 2</td>
            <td>Primary arthroplasty in shoulder, elbow and knee trauma</td>
            <td>Mikko Salmela</td>
          </tr>
          <tr>
            <td class="font-bold">18.3.2025</td>
            <td>08:00-11:00</td>
            <td>TRAUMA 3</td>
            <td
              >Fix it or fuse it? Controversies in foot and ankle fractures.</td
            >
            <td>Anssi Härkönen</td>
          </tr>
          <tr>
            <td></td>
            <td>15:00-18:00</td>
            <td>DISCUSSION 1</td>
            <td>Feedback - from assessment to learning</td>
            <td>Teija Lund, Juho Hatakka</td>
          </tr>
          <tr>
            <td></td>
            <td>15:00-18:00</td>
            <td>DISCUSSION 2</td>
            <td>How to use the KIDS Fracture Tool in practice</td>
            <td>Topi Laaksonen, Kaj Zilliacus</td>
          </tr>
          <tr>
            <td class="font-bold">19.3.2025</td>
            <td>08:00-11:00</td>
            <td>ORTHO 1</td>
            <td>What's new in hip replacement?</td>
            <td>Rami Madanat</td>
          </tr>
          <tr>
            <td></td>
            <td colspan="4" class="italic text-center">Course dinner</td>
          </tr>
          <tr>
            <td class="font-bold">20.3.2025</td>
            <td>08:00-11:00</td>
            <td>ORTHO 2</td>
            <td
              >Decompression of degenerative lumbar spine: is there still a role
              for spondylodesis/instrumentation and if so, when?</td
            >
            <td>Jari Siironen</td>
          </tr>
          <tr>
            <td></td>
            <td>15:00-18:00</td>
            <td>DISCUSSION 3</td>
            <td>PF OA & PF Arthroplasty</td>
            <td>Petri Silanpää</td>
          </tr>
          <tr>
            <td></td>
            <td>15:00-18:00</td>
            <td>DISCUSSION 4</td>
            <td>Controversies in bone tumors</td>
            <td>Minna Laitinen, Lee Jays</td>
          </tr>
          <tr>
            <td class="font-bold">21.3.2025</td>
            <td>08:00-11:00</td>
            <td>ORTHO 3</td>
            <td
              >Optimized use of radiation in orthopedics: problem solving and
              tips and tricks</td
            >
            <td>Liisa Viita-aho</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</BaseLayout>
