---
const committee = [
  { name: "Mikko Hautamäki", role: "Chairman" },
  { name: "Timo Sirola", role: "Secretary" },
  { name: "Robert Björkenheim", role: "Scientific program" },
  { name: "Jani Puhakka", role: "Company affiliation / Social program" },
  { name: "Henrik Sandelin", role: "Treasurer" },
];
---

<footer
  class="max-w-[90%] grid md:grid-cols-2 max-md:gap-4 mx-auto py-4 mt-16 font-bold"
>
  <div class="flex justify-center flex-col items-center gap-2">
    <p>
      <a href="https://www.soy.fi/" target="_blank"
        >© Finnish Orthopaedic Association</a
      >
    </p>
    <p>Contact: <a href="mailto:AOS2025@SOY.FI">AOS2025@SOY.FI</a></p>
  </div>
  <div class="border hidden max-md:block"></div>
  <div class="flex justify-center flex-col items-center gap-2">
    <h1>Organisation committee:</h1>
    <ul class="max-md:text-center text-sm">
      {
        committee.map((member) => {
          return (
            <li class="flex justify-between gap-8">
              <>
                <span>{member.name}</span>
                <span>{member.role}</span>
              </>
            </li>
          );
        })
      }
    </ul>
  </div>

  <!-- AOS2025@SOY.FI


Organizing committee:


Mikko Hautamäki — Chairman

Timo Sirola — Secretary

Robert Björkenheim — Scientific program

Jani Puhakka — Company affiliation / Social program

Henrik Sandelin — Treasurer -->
</footer>
