---
const committee = [
  { name: "Mikko Hautamäki", role: "Chairman" },
  { name: "Timo Sirola", role: "Secretary" },
  { name: "Robert Björkenheim", role: "Scientific program" },
  { name: "Jani Puhakka", role: "Company affiliation / Social program" },
  { name: "Henrik Sandelin", role: "Treasurer" },
  { name: "Heidi Danielson", role: "Member of the Organizing Committee" },
];
---

<footer
  class="max-w-[90%] flex flex-col-reverse md:flex-row md:justify-evenly max-md:gap-6 mx-auto py-4 mt-16 font-bold"
>
  <div class="flex justify-center flex-col items-center gap-2">
    <p>
      <a href="https://www.soy.fi/" target="_blank"
        >© Finnish Orthopaedic Association</a
      >
    </p>
    <p>Contact: <a href="mailto:aos2025@soy.fi">aos2025@soy.fi</a></p>
  </div>
  <div class="flex justify-center flex-col items-center gap-4">
    <h1 class="text-lg">Organisation committee:</h1>
    <ul class="text-xs flex flex-col gap-2 text-center">
      {
        committee.map((member) => {
          return (
            <li>
              <p>
                {member.name} - <span class="font-normal">{member.role}</span>
              </p>
            </li>
          );
        })
      }
    </ul>
  </div>
</footer>
