<footer
  class="w-[90%] md:w-[50%] grid grid-cols-2 mx-auto py-4 mt-16 font-bold"
>
  <div class="flex justify-center flex-col items-center gap-2">
    <p>
      <a href="https://www.soy.fi/" target="_blank"
        >© Finnish Orthopaedic Association</a
      >
    </p>
    <p>Contact: <a href="mailto:AOS2025@SOY.FI">AOS2025@SOY.FI</a></p>
  </div>
  <div class="flex justify-center flex-col items-center gap-2">
    <h1>Organisation committee:</h1>
    <ul>
      <li>Mikko Hautamäki — Chairman</li>
      <li>Timo Sirola — Secretary</li>
      <li>Robert Björkenheim — Scientific program</li>
      <li>Jani Puhakka — Company affiliation/Social program</li>
      <li>Henrik Sandelin — Treasurer</li>
    </ul>
  </div>

  <!-- AOS2025@SOY.FI


Organizing committee:


Mikko Hautamäki — Chairman

Timo Sirola — Secretary

Robert Björkenheim — Scientific program

Jani Puhakka — Company affiliation / Social program

Henrik Sandelin — Treasurer -->
</footer>
