---
import { Nav } from "../components/Nav";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;

const isProd = import.meta.env.PROD;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script
      src="https://kit.fontawesome.com/0c1fb969e1.js"
      crossorigin="anonymous"
      is:inline></script>
    {
      isProd && (
        <script
          defer
          src="https://analytics.nevillebrem.com/script.js"
          data-website-id="33ec12b8-18e2-4ef6-a1de-1bf0e43823c8"
        />
      )
    }
    <link rel="stylesheet" href="https://use.typekit.net/uqc5wyf.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="og:title"
      content={`Arctic Orthopedic Summit 2025 - ${title}`}
    />
    <meta name="og:image" content="banner.jpg" />
    <meta name="og:description" content={desc} />
    <title>AOS 2025 - {title}</title>
  </head>
  <body>
    <Nav client:load />
    <div class="max-w-6xl mx-auto">
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style is:global>
  html {
    @apply prose-headings:font-bold font-[joly-display];
  }

  button {
    @apply bg-sky-300 p-4 hover:scale-105 active:scale-100 duration-200 ease-in-out font-medium;
  }
</style>
